---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
---

<Layout>
  <h1 class="gallery-label">Featured Moments</h1>
  <PhotoGrid collection="digital" />
</Layout>
